@{
    Page.Title = "Home";

    var db = Database.Open("bakery");
    var products = db.Query("SELECT PR.ID, PR.Price, PR.Description, PR.Name, PH.ImageName, PH.Featured FROM PRODUCTS PR JOIN PHOTOS PH ON PR.ID = PH.ProductID WHERE PH.FEATURED = 1").ToList();
    var productId = UrlData[0].AsInt();
    var featured = products[0];
    if (productId > 0)
    {
        featured = products[(productId-1)];
    }
     else 
     {
         featured = products[new Random().Next(products.Count)];
     };
}

<!--<h1>Here's the collection!</h1>-->

<div id="featuredProduct">
    <div id="featuredImage">
        <a href="~/photos/@featured.Id" >
        <img alt="Featured Product" src="~/Images/Products/@featured.ImageName"/>
        </a>
    </div>
</div>
<div id="sidebar">
        <div id="productInfo">
            <h2>@featured.Name</h2>
            <p class="description">@featured.Description</p>
            <p class="price">$@string.Format("{0:f}", featured.Price)</p>
        </div>
      @*  <div id="photoButton">
            <a class="standard-button" href="~/photos/@featured.Id" title="Order @featured.Name">View Additional Photos</a>
        </div>*@
       <div id="orderButton">
              <a class="standard-button" href="~/photos/@featured.Id" title="Order @featured.Name">Additional Photos</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a class="standard-button" href="~/order/@featured.Id" title="Order @featured.Name">Inquire</a>
        </div>
</div>
 
<div id="productsWrapper">
    <ul id="products" data-role="listview" data-inset="true">
        @foreach (var p in products) {
            <li class="product">
                <div id="productimage">
                    <a href="~/Default/@p.Id" title="View @p.Name">
                        <img class="hide-from-desktop" src="~/Images/Products/Thumbnails/@p.ImageName" alt="Image of @p.Name" />
                    </a>
                </div>
                    <div class="productInfo">
                        <h3><a href="~/Default/@p.Id">@p.Name</a></h3>
                        <a href="~/Default/@p.Id">
                            <img class="product-image hide-from-mobile" src="~/Images/Products/Thumbnails/@p.ImageName" alt="Image of @p.Name" />
                        </a>
                        <p class="description">@p.Description</p>
                     @*   <p class="price hide-from-desktop">$@string.Format("{0:f}", p.Price)</p>               *@     
                    </div>

                <!-- Desktop only -->
               @* <div class="action  hide-from-mobile">
                    <p class="price">$@string.Format("{0:f}", p.Price)</p>
                </div>*@
              @*  <div id="orderbutton2">
                    <a class="order-button" href="~/order/@p.Id" title="Order @p.Name">Additional Photos</a>
                </div>*@
            </li>
        }
    </ul>
</div>